<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <style>
    footer {
      background-color: rgb(0, 255, 0);
      text-align: center;
      color: white;
    }
    body {
      padding: 25px;
      background-color: white;
      color: black;
      font-size: 25px;
    }
    /* The snackbar - position it at the bottom and in the middle of the screen */
    #snackbar {
          visibility: hidden; /* Hidden by default. Visible on click */
          min-width: 250px; /* Set a default minimum width */
          margin-left: -125px; /* Divide value of min-width by 2 */
          background-color: #333; /* Black background color */
          color: #fff; /* White text color */
          text-align: center; /* Centered text */
          border-radius: 2px; /* Rounded borders */
          padding: 16px; /* Padding */
          position: fixed; /* Sit on top of the screen */
          z-index: 1; /* Add a z-index if needed */
          left: 50%; /* Center the snackbar */
          bottom: 30px; /* 30px from the bottom */
        }

        /* Show the snackbar when clicking on a button (class added with JavaScript) */
        #snackbar.show {
          visibility: visible; /* Show the snackbar */
          /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
          However, delay the fade out process for 2.5 seconds */
          -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        /* Animations to fade the snackbar in and out */
        @-webkit-keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
          from {bottom: 30px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
          from {bottom: 30px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
        }
  </style>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, inital-scale=1">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" crossorigin="anonymous"></script>
</head>
<body>
<h1>Hi <%= name %>!</h1>
<button onclick="location = '/database'" class="btn btn-primary">Access my passwords</button><br><br>
<!-- <a href="https://darkreader.org/" target="_blank">Need Dark Mode? Use this</a> -->
<hr width="100%">
<p>Danger zone</p>
<button onclick="deleteAccount();" class="btn btn-danger">Delete your account :(</button>
<br><br>
<form action="/logout" method="GET" id="form">
  <button type="submit" class="btn btn-light">Log Out</button>
</form>
<br>
<div id="snackbar">%PLACEHOLDER_ALERT%</div>
<script>
  var incorrect = <%-incorrect%>
  if (incorrect >= 1) {
    swal({
      title: "Immediate action recommended!",
      text: incorrect + " attempts to access your account but failed since last time you signed in.",
      icon: "warning"
    })
    .then((value) => {
      ajax("GET", "/reset", function (err, res) {
        if (err) throw err;
        if (res !== "Success") {
          swal({
            title: "Error",
            text: "An error happened on the server while trying to reset your incorrect password counter. Try again later.",
            icon: "error"
          })
        }
      })
    })
  }
  function ajax(method, url, done) {
    var xhr = new XMLHttpRequest();
    xhr.open(method, url)
    xhr.onreadystatechange = function() {
      if (this.status == 200 && this.readyState == 4) {
        done(null, xhr.responseText)
      }
    };
    xhr.onerror = function() {
      done(xhr.response)
    };
    xhr.send();
  };
  function snackbar(text) {
    if (text == null) {
      throw new Error("Text argument is needed")
    }
    var snackbar = document.getElementById('snackbar')
    snackbar.innerHTML = text
    snackbar.className = "show";
    setTimeout(function() { snackbar.className = snackbar.className.replace("show", ""); }, 3000);
  }

  function deleteAccount() {
    var yn1 = confirm("Are you sure you want to delete your account? This will wipe everything and cannot be restored!")
    if (!yn1) {
      return snackbar("Cancelled.")
    }
    var yn2 = confirm("Are you really sure? All your passwords and account information will be deleted!")
    if (!yn2) {
      return snackbar("Cancelled.")
    }
    var yn3 = confirm("Are you really really sure? This cannot be undone and everything will be gone!")
    if (!yn3) {
      return snackbar("Cancelled.")
    }
    alert("I'm sad to see you go. Your account is now getting deleted.")
    location = '/logout?deleted=true'
  }
</script>
</body>
<a href="/status" target="_blank"><footer><p>Did you know we have a status page? Click this banner for more</p></footer></a>
</html>