<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, inital-scale=1">
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <style>
    html {
      padding: 0px;
      margin: 0px;
      background-color: white;
      color: black;
      font-size: 20px;
      z-index: 1;
    }
    #login-form {
      z-index: 2;
    }
    #bg {
      width: 100%;
      height: 100%;
      object-fit: 50% 50%;
      background-size: cover;
    }
    .crop {
      width: 100%;
      height: 722px;
      overflow: hidden;
    }
    /* The snackbar - position it at the bottom and in the middle of the screen */
    #snackbar {
            visibility: hidden; /* Hidden by default. Visible on click */
            min-width: 250px; /* Set a default minimum width */
            margin-left: -125px; /* Divide value of min-width by 2 */
            background-color: #333; /* Black background color */
            color: #fff; /* White text color */
            text-align: center; /* Centered text */
            border-radius: 2px; /* Rounded borders */
            padding: 16px; /* Padding */
            position: fixed; /* Sit on top of the screen */
            z-index: 1; /* Add a z-index if needed */
            left: 50%; /* Center the snackbar */
            bottom: 30px; /* 30px from the bottom */
          }
  
          /* Show the snackbar when clicking on a button (class added with JavaScript) */
          #snackbar.show {
            visibility: visible; /* Show the snackbar */
            /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
            However, delay the fade out process for 2.5 seconds */
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
          }
          /* Animations to fade the snackbar in and out */
          @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
          }
  
          @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
          }
  
          @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
          }
  
          @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
          }
          #login-form {
            width: 450px;
            height: 230px;
            position: absolute;
            top: 30%;
            left: 35%;
            margin-left: -30px;
            margin-top: -10px;
            background-color: black;
            border-radius: 10px;
            size: 50%;
            color: white;
          }

          .background {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: 0;
          }
          #button-group {
            position: absolute;
            top: 75%;
            left: 30%
          }
  </style>
  <title>Login</title>
</head>
<body>
<div id="login-form" class="container">
<h1 class="text-center">Login</h1>
<div class="alert alert-danger fade show" id="alertBox">
    <% if (messages.error) { %>
      <%= messages.error %>
      <% } %>
</div>
<form action="/login" method="POST" style="width:fit-content;">
  <div class="form-group text-center row">
    <label for="email" class="text-center col-sm">Email</label>
    <input type="email" id="email" name="email" class="text-center col-sm" required>
  </div>
  <div class="form-group center-block row">
    <label for="password" class="text-center col-sm">Password</label>
    <input type="password" id="password" name="password" class="text-center col-sm" required>
  </div>
  <div class="btn-group text-center" id="button-group">
  <button type="submit" class="btn btn-primary">Login</button>
  <a href="/register" class="btn btn-info">Register</a>
  </div>
</form>
</div>
<div id="snackbar">%PLACEHOLDER_ALERT%</div>
<script>
  window.onload = function() {
    Particles.init({
      selector: '.background',
      connectParticles: true,
      color: "#4DB3B3",
      maxParticles: 250
    })
  }
  var messages = <%- `"${messages.error}"` %>
  if (messages == "undefined") {
    var alertBox = document.getElementById('alertBox')
    alertBox.parentNode.removeChild(alertBox)
  }
  if (messages !== "undefined") {
    var form = document.getElementById('login-form')
    form.style.height = "320px";
  }
  function ajax(method, url, done) {
            var xhr = new XMLHttpRequest();
            xhr.open(method, url)
            xhr.onreadystatechange = function() {
              if (this.status == 200 && this.readyState == 4) {
                done(null, xhr.responseText)
              }
            };
            xhr.onerror = function() {
              done(xhr.response)
            };
            xhr.send();
          };

  function snackbar(text) {
    if (text == null) {
      throw new Error("Text argument is needed")
    }
    var snackbar = document.getElementById('snackbar')
    snackbar.innerHTML = text
    snackbar.className = "show";
    setTimeout(function() { snackbar.className = snackbar.className.replace("show", ""); location = '/login'; }, 3000);
  }
  var deleted = new URLSearchParams(window.location.search).get('deleted')
  var userId = new URLSearchParams(window.location.search).get('id')
  if (deleted) {
    ajax('GET', '/deleteacc?id=' + userId, function(err, data) {
      if (err) throw err;
      if (data == "Success") {
        snackbar(`Your account has been successfully deleted.
        Thank you for using Password Manager.`)
      } else {
        snackbar(`An error has occured while deleting your account.
        Contact the developer for assistance.`)
      }
    })
  }
</script>
<div id="bg-div" class="crop">
<img src="/lights" id="bg">
</div>
<canvas class="background"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
</body>
</html>