<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            padding: 25px;
            background-color: white;
            color: black;
            font-size: 25px;
        }
        .green {
          background-color: rgb(0, 255, 0);
        }
        .yellow {
          background-color: rgb(255, 255, 0);
        }
        .red {
          background-color: rgb(255, 0, 0);
        }
        /* The snackbar - position it at the bottom and in the middle of the screen */
    </style>
    <title>Status for Password Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/d2dd9afdb0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="jumbotron">
    <h1 class="text-center">Status for Password Manager</h1>
  </div>
    <table style="width:25%; position: absolute; right: 40%;" id="table" border="1" bgcolor="#FFFFFF">
        <tr>
            <td>Database</td>
            <td class="green">Working</td>
            <td><button onclick="sendRequest('Database')" class="btn btn-danger"><i class="fas fa-exclamation-circle"></i></button></td>
        </tr>
        <tr>
            <td>Authentication</td>
            <td class="green">Working</td>
            <td><button onclick="sendRequest('Authentication')" class="btn btn-danger"><i class="fas fa-exclamation-circle"></i></button></td>
        </tr>
        <tr>
            <td>Searching</td>
            <td class="green">Working</td>
            <td><button onclick="sendRequest('Searching')" class="btn btn-danger"><i class="fas fa-exclamation-circle"></i></button></td>
        </tr>
        <tr>
            <td>Bulk Import</td>
            <td class="green">Working</td>
            <td><button onclick="sendRequest('Bulk Import')" class="btn btn-danger"><i class="fas fa-exclamation-circle"></i></button></td>
        </tr>
    </table>
    <script>
        function ajax(method, url, body, done) {
              var xhr = new XMLHttpRequest();
              xhr.open(method, url)
              xhr.onreadystatechange = function() {
                if (this.status == 200 && this.readyState == 4) {
                  done(null, xhr.responseText)
                }
              }
              xhr.onerror = function() {
                done(xhr.responseText)
              };
              xhr.setRequestHeader('Content-Type', 'application/json')
              xhr.send(JSON.stringify(body));
        }
        function sendRequest(text) {
          const body = {
            problem: text
          }
          ajax("POST", '/status', body, function(err, res) {
            if (res == "Not enabled") {
              return swal({
                title: "Sorry, the owner has not enabled issue reporting.",
                icon: "error"
              })
            }
            if (err) {
              swal({
                title: "Something went wrong, try again later.",
                icon: "error"
              })
              throw err;
              return;
            }
            if (res == "Success") {
              swal({
                title: "Success!",
                icon: "success"
              })
            } else {
              swal({
                title: "Something went wrong, try again later.",
                icon: "error"
              })
            }
          })
        }
    </script>
</body>